nav{
  background-color:white;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #e57373;
    -webkit-box-shadow: 0 1px 0 0 #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

.a-custom-button{
  display:block;
  font-size : 15px;
  height:45px;
  line-height:45px;
  text-align:center;
}

.a-custom-button:hover{
  background-color:#eeeeee;
  cursor:pointer;
}

